body {
  background: #f1f1f1;
  margin: 0;
}
header {
  background: #fff;
}
header .nav-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

.nav-content, .login-register-logout {
  display: flex;
  align-items: center;
}

.nav-content h1, .login-register-logout h1{
  padding: .5em;
  margin-right: 1em;
  border-radius: 1vh;
}

.nav-content h1:hover, .login-register-logout h1:hover {
  background-color: lightblue;
}

